DATABASE_URL="postgresql://user:password@localhost:5434/database?schema=public"
TEST_DATABASE_URL="postgresql://user:password@localhost:5434/database?schema=public"
APP_PORT=3333
DEBUG_PORT=9229
NODE_ENV=development
TOKEN_SECRET=randomSecret123
GITHUB_CLIENT_ID=ae013053a5a9c460aad1
GITHUB_CLIENT_SECRET=847e20fef3dde4c14e7c57548cdb5a4c5ab4b06a
GITHUB_CALLBACK_URL=http://localhost:3333/auth/github/callback
SPA_URL=http://localhost:4200
NX_API_URL=http://localhost:3333
