version: '3.4'
services:
  db:
    image: postgres:13
    ports:
      - 5433:5432
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: user
      POSTGRES_DB: database
    volumes:
      - 'postgres_data:/var/lib/postgresql/data'
    networks:
      - retro-tool

  db_test:
    image: postgres:13
    ports:
      - 5434:5432
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: user
      POSTGRES_DB: database
    volumes:
      - 'postgres_test_data:/var/lib/postgresql/data'
    networks:
      - retro-tool

networks:
  retro-tool:
volumes:
  postgres_data:
    driver: local
  postgres_test_data:
    driver: local
